<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Calculadora-CSS.CSS">
    <title>Resultado</title>
</head>
<body>
    
    <div class="container-resultado">
        <h3 class="titulo">{{USUARIO}}</h3>
        <div class="content-resultado">
            <span class="resultado">Peso: {{PESO}}</span>
            <span class="resultado">Altura: {{ALTURA}}</span>
            <span class="resultado">Idade: {{IDADE}}</span>
            <span class="resultado">Sexo: {{SEXO}}</span>
        </div>
        <div class="content-resultado">
            <h3 class="resultado">Resultado: {{ICM}}</h3>
            <h4 class="resultado">Classificação: {{CLASSIFICACAO}}</h4>
            <a class="button-resultado" href="/index.html">Calcular Novamente</a>
        </div class="content">
    </div>
</body>
</html>